body { 
    background-color: maroon;
    font-size: large;
}

p {
    text-align: center;
    color: yellow;
}

h1 {
    text-align: center;
    color: mintcream;
    background-color: navy;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

h2 {
    text-align: center;
    color:mintcream
}

a {
    font-size: large;
    color:mintcream
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

ul {
    text-align: center;
}